{% extends "layouts/main.twig" %}

{% block body %}
    <h1>Авторизация</h1>

    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Пароль">
        </div>

        <button type="submit" class="btn btn-success">Войти</button>
    </form>
{% endblock %}