{% extends "layouts/main.twig" %}

{% block body %}
    <h1>Профиль пользователя</h1>
    <h2>{{ profile.firstname }}</h2>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>E-Mail:</td>
            <td>{{ profile.email }}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{ profile.firstname }}</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>{{ profile.lastname }}</td>
        </tr>
         <tr>
            <td>Никнейм</td>
            <td>{{ profile.username }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}