{% extends "layouts/main.twig" %}

{% block body %}
    <h1>Регистрация</h1>

    <form action="/register" method="post">
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Пароль">
        </div>
        <div class="form-group">
            <label for="firstname">Имя *</label>
            <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Имя" required="required">
        </div>

        <div class="form-group">
            <label for="lastname">Фамилия</label>
            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Фамилия">
        </div>
        <div class="form-group">
            <label for="username">Никнейм</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Никнейм">
        </div>


        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
    </form>
{% endblock %}